:root {
    --White: hsl(0, 100%, 100%);
    --Light-Purple: hsl(275, 100%, 97%);
    --Purple: hsl(292, 16%, 49%);
    --Dark-Purple: hsl(292, 42%, 14%);
}


body {
    margin: 0;
    background-color: var(--Light-Purple);
    font-family: "Work Sans", sans-serif;
}

#background-pattern-deskop {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}

#background-pattern-mobile {
    display: none;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#full-viewport-flex {
    height: 100vh;
}

.faq-card {
    background-color: var(--White);
    height: 35rem;
    width: 38em;
    border-radius: 20px;
    padding: 50px;
}

.faq-card h1, h2 {
    color: var(--Dark-Purple);
}

.faq-card p {
    font-size: 1.2em;
    color: var(--Purple);
    display: none;
}

hr {
    border-color: rgb(162, 162, 162);
    opacity: 10%;
    
}

#header {
    gap: 45px;
    justify-content: start;
    margin-bottom: 40px;
}

#header h1 {
    font-size: 4.5em;
    margin: 0;

}

#star-icon {
    width: 3em;
    height: 3em;
}

.qna-container h2 {
    font-size: 1.3em;
}


.question {
    display: flex;
    justify-content: space-between;
}


.minus-icon {
    display: none;
}


@media (max-width: 750px) {

    #background-pattern-deskop {    
        display: none;
    }

    #background-pattern-mobile {
        display: block;

    }

        .faq-card {
        height: 50rem;
        width: 20.55rem;
    }
}